# Python for Exploratory Data Analysis (EDA)

First time using Python? A Jupyter Notebook?

Welcome!

We'll read in data, explore it a little bit, and subsequently work on an exercise.

Remember...

Python is a(n):
- open source
- high level
- object oriented

software development language often used for
- scripting
- data analysis
- rapid prototyping

Our dataset: a marketing campaign a credit card company ran by mail to 18,000 customers encouraging them to take an offer. We know:

```
'Customer Number', 'Offer Accepted', 'Reward', 'Mailer Type',
       'Income Level', '# Bank Accounts Open', 'Overdraft Protection',
       'Credit Rating', '# Credit Cards Held', '# Homes Owned',
       'Household Size', 'Own Your Home', 'Average Balance', 'Q1 Balance',
       'Q2 Balance', 'Q3 Balance', 'Q4 Balance'
```

Load our libraries.

In [1]:
import pandas as pd
import seaborn as sns
%matplotlib inline

Load our data.

In [2]:
data = pd.read_csv("./data/creditcardmarketing-bbm.csv")

## Rudimentary Commands to Investigate Data Integrity

In [3]:
# print out first five rows
data.head()

,Customer Number,Offer Accepted,Reward,Mailer Type,Income Level,# Bank Accounts Open,Overdraft Protection,Credit Rating,# Credit Cards Held,# Homes Owned,Household Size,Own Your Home,Average Balance,Q1 Balance,Q2 Balance,Q3 Balance,Q4 Balance
0,1,No,Air Miles,Letter,High,1,No,High,2,1,4,No,1160.75,1669.0,877.0,1095.0,1002.0
1,2,No,Air Miles,Letter,Medium,1,No,Medium,2,2,5,Yes,147.25,39.0,106.0,78.0,366.0
2,3,No,Air Miles,Postcard,High,2,No,Medium,2,1,2,Yes,276.50,367.0,352.0,145.0,242.0
3,4,No,Air Miles,Letter,Medium,2,No,High,1,1,4,No,1219.00,1578.0,1760.0,1119.0,419.0
4,5,No,Air Miles,Letter,Medium,1,No,Medium,2,1,6,Yes,1211.00,2140.0,1357.0,982.0,365.0

In [4]:
# print out first ten rows
data.head(10)

,Customer Number,Offer Accepted,Reward,Mailer Type,Income Level,# Bank Accounts Open,Overdraft Protection,Credit Rating,# Credit Cards Held,# Homes Owned,Household Size,Own Your Home,Average Balance,Q1 Balance,Q2 Balance,Q3 Balance,Q4 Balance
0,1,No,Air Miles,Letter,High,1,No,High,2,1,4,No,1160.75,1669.0,877.0,1095.0,1002.0
1,2,No,Air Miles,Letter,Medium,1,No,Medium,2,2,5,Yes,147.25,39.0,106.0,78.0,366.0
2,3,No,Air Miles,Postcard,High,2,No,Medium,2,1,2,Yes,276.50,367.0,352.0,145.0,242.0
3,4,No,Air Miles,Letter,Medium,2,No,High,1,1,4,No,1219.00,1578.0,1760.0,1119.0,419.0
4,5,No,Air Miles,Letter,Medium,1,No,Medium,2,1,6,Yes,1211.00,2140.0,1357.0,982.0,365.0
5,6,No,Air Miles,Letter,Medium,1,No,High,3,1,4,No,1114.75,1847.0,1365.0,750.0,497.0
6,7,No,Air Miles,Letter,Medium,1,No,Medium,2,1,3,No,283.75,468.0,188.0,347.0,132.0
7,8,No,Cash Back,Postcard,Low,1,No,Medium,4,1,4,Yes,278.50,132.0,391.0,285.0,306.0
8,9,No,Air Miles,Postcard,Medium,1,No,Low,2,1,4,Yes,1005.00,894.0,891.0,882.0,1353.0
9,10,No,Air Miles,Letter,High,2,No,Low,3,2,4,Yes,974.25,1814.0,1454.0,514.0,115.0

In [5]:
# print out last five rows
data.tail()

,Customer Number,Offer Accepted,Reward,Mailer Type,Income Level,# Bank Accounts Open,Overdraft Protection,Credit Rating,# Credit Cards Held,# Homes Owned,Household Size,Own Your Home,Average Balance,Q1 Balance,Q2 Balance,Q3 Balance,Q4 Balance
17995,17996,No,Cash Back,Letter,High,1,No,Low,1,1,5,Yes,167.50,136.0,65.0,71.0,398.0
17996,17997,No,Cash Back,Letter,High,1,No,Low,3,1,3,Yes,850.50,984.0,940.0,943.0,535.0
17997,17998,No,Cash Back,Letter,High,1,No,Low,2,1,4,No,1087.25,918.0,767.0,1170.0,1494.0
17998,17999,No,Cash Back,Letter,Medium,1,No,Medium,4,2,2,Yes,1022.25,626.0,983.0,865.0,1615.0
17999,18000,No,Cash Back,Letter,Low,2,No,Medium,2,1,3,No,1056.00,265.0,1378.0,1978.0,603.0

In [6]:
# determine the rows x columns
data.shape

(18000, 17)

In [7]:
# show all columns
data.columns

Index(['Customer Number', 'Offer Accepted', 'Reward', 'Mailer Type',
       'Income Level', '# Bank Accounts Open', 'Overdraft Protection',
       'Credit Rating', '# Credit Cards Held', '# Homes Owned',
       'Household Size', 'Own Your Home', 'Average Balance', 'Q1 Balance',
       'Q2 Balance', 'Q3 Balance', 'Q4 Balance'],
      dtype='object')

In [8]:
# numeric summary statistics
data.describe()

,Customer Number,# Bank Accounts Open,# Credit Cards Held,# Homes Owned,Household Size,Average Balance,Q1 Balance,Q2 Balance,Q3 Balance,Q4 Balance
count,18000.000000,18000.000000,18000.000000,18000.000000,18000.000000,17976.000000,17976.000000,17976.000000,17976.000000,17976.000000
mean,9000.500000,1.255778,1.903500,1.203444,3.499056,940.515562,910.450656,999.392190,1042.033600,810.185803
std,5196.296758,0.472501,0.797009,0.427341,1.114182,350.297837,620.077060,457.402268,553.452599,559.001365
min,1.000000,1.000000,1.000000,1.000000,1.000000,48.250000,0.000000,0.000000,0.000000,0.000000
25%,4500.750000,1.000000,1.000000,1.000000,3.000000,787.500000,392.750000,663.000000,633.000000,363.000000
50%,9000.500000,1.000000,2.000000,1.000000,3.000000,1007.000000,772.000000,1032.000000,945.500000,703.000000
75%,13500.250000,1.000000,2.000000,1.000000,4.000000,1153.250000,1521.000000,1342.000000,1463.000000,1212.000000
max,18000.000000,3.000000,4.000000,3.000000,9.000000,3366.250000,3450.000000,3421.000000,3823.000000,4215.000000

## Column operations

In [9]:
# select a single columns
data['Reward']

0        Air Miles
1        Air Miles
2        Air Miles
3        Air Miles
4        Air Miles
5        Air Miles
6        Air Miles
7        Cash Back
8        Air Miles
9        Air Miles
10       Air Miles
11       Cash Back
12          Points
13          Points
14       Air Miles
15       Cash Back
16          Points
17       Air Miles
18          Points
19       Cash Back
20          Points
21          Points
22       Cash Back
23       Air Miles
24       Cash Back
25       Cash Back
26       Air Miles
27       Air Miles
28       Cash Back
29          Points
           ...
17970       Points
17971    Cash Back
17972       Points
17973       Points
17974    Cash Back
17975    Cash Back
17976    Air Miles
17977    Cash Back
17978    Air Miles
17979    Air Miles
17980    Air Miles
17981    Cash Back
17982       Points
17983    Cash Back
17984       Points
17985       Points
17986       Points
17987       Points
17988    Air Miles
17989       Points
17990    Air Miles
17991       Points
17992    Cash Back
17993       Points
17994    Air Miles
17995    Cash Back
17996    Cash Back
17997    Cash Back
17998    Cash Back
17999    Cash Back
Name: Reward, Length: 18000, dtype: object

In [10]:
data['Reward'].describe()

count         18000
unique            3
top       Air Miles
freq           6061
Name: Reward, dtype: object

In [11]:
data['Q1 Balance'].mean()

910.4506564307966

In [12]:
# determine reward categories, and respective numbers in each
data['Reward'].value_counts()

Air Miles    6061
Cash Back    5999
Points       5940
Name: Reward, dtype: int64

In [13]:
# who accepted the offer?
data['Offer Accepted'].value_counts()

No     16977
Yes     1023
Name: Offer Accepted, dtype: int64

## Exercise

Print all the columns.

In [14]:
data.columns

Index(['Customer Number', 'Offer Accepted', 'Reward', 'Mailer Type',
       'Income Level', '# Bank Accounts Open', 'Overdraft Protection',
       'Credit Rating', '# Credit Cards Held', '# Homes Owned',
       'Household Size', 'Own Your Home', 'Average Balance', 'Q1 Balance',
       'Q2 Balance', 'Q3 Balance', 'Q4 Balance'],
      dtype='object')

Print the last 10 rows.

In [15]:
data.tail(10)

,Customer Number,Offer Accepted,Reward,Mailer Type,Income Level,# Bank Accounts Open,Overdraft Protection,Credit Rating,# Credit Cards Held,# Homes Owned,Household Size,Own Your Home,Average Balance,Q1 Balance,Q2 Balance,Q3 Balance,Q4 Balance
17990,17991,No,Air Miles,Letter,Medium,1,No,High,1,1,3,Yes,335.75,447.0,378.0,274.0,244.0
17991,17992,Yes,Points,Postcard,Low,1,No,Low,3,2,4,Yes,1046.50,1801.0,1382.0,569.0,434.0
17992,17993,No,Cash Back,Postcard,Medium,1,No,Low,2,1,4,No,1243.00,943.0,743.0,1339.0,1947.0
17993,17994,No,Points,Letter,Low,1,No,Low,3,1,4,Yes,925.50,1570.0,1432.0,589.0,111.0
17994,17995,No,Air Miles,Postcard,Medium,1,No,Low,2,1,2,Yes,985.25,295.0,917.0,1608.0,1121.0
17995,17996,No,Cash Back,Letter,High,1,No,Low,1,1,5,Yes,167.50,136.0,65.0,71.0,398.0
17996,17997,No,Cash Back,Letter,High,1,No,Low,3,1,3,Yes,850.50,984.0,940.0,943.0,535.0
17997,17998,No,Cash Back,Letter,High,1,No,Low,2,1,4,No,1087.25,918.0,767.0,1170.0,1494.0
17998,17999,No,Cash Back,Letter,Medium,1,No,Medium,4,2,2,Yes,1022.25,626.0,983.0,865.0,1615.0
17999,18000,No,Cash Back,Letter,Low,2,No,Medium,2,1,3,No,1056.00,265.0,1378.0,1978.0,603.0

Determine the most used "Mailer Type" for this credit offer.

In [16]:
data['Mailer Type'].describe()

count        18000
unique           2
top       Postcard
freq          9147
Name: Mailer Type, dtype: object

In [17]:
data['Mailer Type'].value_counts()

Postcard    9147
Letter      8853
Name: Mailer Type, dtype: int64

Determine the number of individuals that fall into each income category.

In [18]:
data['Income Level'].value_counts()

Medium    9013
High      4526
Low       4461
Name: Income Level, dtype: int64

Bonus: Determine the difference between the mean balance in Q4 and Q1 in a single line of code.

In [19]:
data['Q4 Balance'].mean() - data['Q1 Balance'].mean()

-100.26485313751664

## Advanced
(Time permitting)

In [20]:
# Filter a column
data['Offer Accepted'] == "Yes"

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27        True
28       False
29       False
         ...
17970    False
17971     True
17972    False
17973    False
17974    False
17975    False
17976    False
17977    False
17978    False
17979    False
17980    False
17981    False
17982    False
17983    False
17984     True
17985    False
17986    False
17987    False
17988    False
17989    False
17990    False
17991     True
17992    False
17993    False
17994    False
17995    False
17996    False
17997    False
17998    False
17999    False
Name: Offer Accepted, Length: 18000, dtype: bool

In [21]:
data[data['Offer Accepted'] == "Yes"]

,Customer Number,Offer Accepted,Reward,Mailer Type,Income Level,# Bank Accounts Open,Overdraft Protection,Credit Rating,# Credit Cards Held,# Homes Owned,Household Size,Own Your Home,Average Balance,Q1 Balance,Q2 Balance,Q3 Balance,Q4 Balance
27,28,Yes,Air Miles,Letter,Medium,1,No,Low,1,1,2,No,769.50,54.0,515.0,1204.0,1305.0
45,46,Yes,Air Miles,Postcard,High,1,Yes,Low,2,1,5,Yes,851.25,206.0,467.0,1744.0,988.0
50,51,Yes,Air Miles,Postcard,Low,1,No,High,2,1,2,Yes,931.75,1536.0,1232.0,597.0,362.0
57,58,Yes,Air Miles,Postcard,Low,1,No,Medium,1,1,2,Yes,1192.75,1787.0,908.0,1343.0,733.0
74,75,Yes,Cash Back,Postcard,High,1,No,Low,2,2,5,Yes,1329.50,1073.0,1127.0,1603.0,1515.0
76,77,Yes,Cash Back,Postcard,Medium,1,No,Low,1,1,5,Yes,908.50,235.0,434.0,1310.0,1655.0
97,98,Yes,Points,Letter,Low,2,No,Low,3,1,3,Yes,1454.50,1274.0,1412.0,1838.0,1294.0
101,102,Yes,Points,Postcard,High,1,Yes,Low,1,1,9,No,161.50,44.0,99.0,454.0,49.0
112,113,Yes,Air Miles,Letter,High,1,Yes,High,2,1,5,Yes,1082.50,1890.0,1405.0,996.0,39.0
131,132,Yes,Air Miles,Postcard,High,2,No,Medium,2,2,3,Yes,811.50,820.0,958.0,564.0,904.0
158,159,Yes,Cash Back,Postcard,Medium,3,No,Low,1,1,5,No,1133.25,1856.0,1396.0,863.0,418.0
224,225,Yes,Air Miles,Letter,Low,1,No,Low,1,1,3,No,1141.50,675.0,1173.0,1519.0,1199.0
250,251,Yes,Air Miles,Letter,High,1,No,Medium,1,1,5,Yes,1047.75,438.0,762.0,1014.0,1977.0
263,264,Yes,Air Miles,Postcard,Medium,1,No,Low,4,1,4,No,1034.00,1720.0,1070.0,911.0,435.0
277,278,Yes,Points,Postcard,High,2,No,Low,1,1,1,Yes,887.25,1709.0,1089.0,521.0,230.0
281,282,Yes,Cash Back,Postcard,Low,1,Yes,Low,2,1,4,Yes,984.00,1414.0,759.0,1111.0,652.0
285,286,Yes,Points,Postcard,Low,2,No,Low,4,1,3,Yes,881.25,950.0,948.0,950.0,677.0
287,288,Yes,Cash Back,Letter,Low,2,No,Low,3,2,3,Yes,1107.50,1302.0,1545.0,1396.0,187.0
300,301,Yes,Cash Back,Postcard,High,1,No,Low,2,1,4,Yes,896.25,1688.0,1113.0,697.0,87.0
312,313,Yes,Air Miles,Postcard,Medium,1,Yes,Medium,3,1,2,Yes,944.50,873.0,656.0,1350.0,899.0
320,321,Yes,Air Miles,Postcard,Medium,1,No,Low,1,1,4,Yes,916.50,1657.0,1273.0,643.0,93.0
342,343,Yes,Points,Postcard,Low,1,No,Low,2,1,5,No,1735.25,1626.0,1713.0,1902.0,1700.0
349,350,Yes,Points,Postcard,Medium,2,No,Low,1,1,4,Yes,992.25,621.0,1533.0,1357.0,458.0
378,379,Yes,Points,Postcard,Medium,1,No,High,2,1,3,No,1028.75,342.0,1233.0,806.0,1734.0
402,403,Yes,Cash Back,Postcard,Low,1,No,Low,2,1,4,No,1364.75,2180.0,1436.0,1390.0,453.0
412,413,Yes,Points,Postcard,Medium,2,No,Low,1,1,3,Yes,841.75,556.0,1027.0,1225.0,559.0
423,424,Yes,Air Miles,Postcard,Medium,2,No,Low,1,1,4,No,1327.25,1873.0,1390.0,1183.0,863.0
447,448,Yes,Air Miles,Postcard,Low,1,Yes,Low,1,1,4,Yes,1034.75,1612.0,1297.0,902.0,328.0
466,467,Yes,Cash Back,Letter,Medium,1,No,Low,3,1,4,No,938.25,137.0,1785.0,1201.0,630.0
477,478,Yes,Air Miles,Postcard,Medium,2,No,High,2,1,3,Yes,1054.75,1364.0,1360.0,446.0,1049.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17552,17553,Yes,Air Miles,Letter,High,1,Yes,Low,4,1,4,No,229.75,499.0,68.0,39.0,313.0
17599,17600,Yes,Cash Back,Letter,Medium,1,No,Low,1,2,5,Yes,1329.50,856.0,1166.0,1325.0,1971.0
17630,17631,Yes,Air Miles,Postcard,Low,1,Yes,Low,1,2,5,Yes,954.50,74.0,1122.0,1729.0,893.0
17667,17668,Yes,Cash Back,Letter,Low,1,Yes,Low,1,1,4,No,1124.25,1702.0,1489.0,940.0,366.0
17687,17688,Yes,Cash Back,Postcard,Medium,1,No,Low,1,2,3,No,1270.00,540.0,1181.0,1335.0,2024.0
17690,17691,Yes,Air Miles,Postcard,Low,1,No,Medium,2,1,3,No,285.75,405.0,138.0,463.0,137.0
17696,17697,Yes,Air Miles,Letter,Low,1,Yes,Low,2,1,4,No,871.00,8.0,1429.0,1124.0,923.0
17699,17700,Yes,Cash Back,Postcard,Medium,2,No,Low,2,1,5,No,984.00,783.0,620.0,1010.0,1523.0
17713,17714,Yes,Air Miles,Postcard,Medium,1,Yes,Medium,1,1,3,No,1297.50,676.0,1311.0,1083.0,2120.0
17714,17715,Yes,Air Miles,Postcard,High,2,No,Low,4,1,3,No,1177.75,1949.0,1437.0,906.0,419.0
17739,17740,Yes,Air Miles,Postcard,Low,1,No,Medium,3,1,4,Yes,1110.00,2189.0,1463.0,652.0,136.0
17782,17783,Yes,Air Miles,Letter,Medium,2,No,Medium,1,1,2,No,914.00,1570.0,812.0,627.0,647.0
17800,17801,Yes,Points,Postcard,Medium,2,Yes,Low,2,1,5,Yes,810.50,292.0,706.0,914.0,1330.0
17824,17825,Yes,Air Miles,Postcard,Medium,1,No,Medium,2,1,1,No,1105.50,170.0,1539.0,1360.0,1353.0
17837,17838,Yes,Cash Back,Letter,Low,1,Yes,Low,1,2,3,Yes,1226.50,754.0,953.0,1778.0,1421.0
17841,17842,Yes,Air Miles,Postcard,Low,1,No,High,2,1,3,Yes,881.25,878.0,871.0,808.0,968.0
17843,17844,Yes,Air Miles,Letter,Low,1,No,Low,2,1,3,No,995.00,1397.0,1006.0,1267.0,310.0
17846,17847,Yes,Points,Postcard,Low,1,No,Low,1,1,3,No,1041.00,240.0,1179.0,1658.0,1087.0
17848,17849,Yes,Cash Back,Letter,Low,1,No,Low,2,1,3,Yes,162.50,165.0,323.0,18.0,144.0
17869,17870,Yes,Points,Postcard,Medium,1,No,Low,2,1,2,Yes,218.50,13.0,423.0,33.0,405.0
17890,17891,Yes,Air Miles,Postcard,High,2,No,Low,2,2,5,Yes,865.75,929.0,626.0,948.0,960.0
17896,17897,Yes,Points,Postcard,Low,1,No,Low,1,1,2,Yes,1011.25,1411.0,1526.0,1024.0,84.0
17903,17904,Yes,Points,Postcard,Low,2,No,Medium,1,1,4,Yes,1038.00,275.0,510.0,1493.0,1874.0
17914,17915,Yes,Cash Back,Letter,Low,1,No,Low,3,1,5,No,1099.25,1195.0,762.0,1946.0,494.0
17931,17932,Yes,Points,Letter,Medium,1,No,High,2,1,5,Yes,1539.00,1423.0,1864.0,1527.0,1342.0
17940,17941,Yes,Air Miles,Postcard,Medium,1,Yes,Low,2,1,4,Yes,1140.25,634.0,1076.0,1966.0,885.0
17942,17943,Yes,Air Miles,Postcard,Low,1,No,Medium,1,1,3,Yes,1026.25,297.0,1672.0,1569.0,567.0
17971,17972,Yes,Cash Back,Postcard,Low,1,No,High,2,2,4,Yes,1221.75,2118.0,1632.0,1029.0,108.0
17984,17985,Yes,Points,Postcard,High,1,No,Low,2,1,2,No,977.25,1628.0,1025.0,885.0,371.0
17991,17992,Yes,Points,Postcard,Low,1,No,Low,3,2,4,Yes,1046.50,1801.0,1382.0,569.0,434.0

In [22]:
data[data['Offer Accepted'] == "Yes"].describe()

,Customer Number,# Bank Accounts Open,# Credit Cards Held,# Homes Owned,Household Size,Average Balance,Q1 Balance,Q2 Balance,Q3 Balance,Q4 Balance
count,1023.000000,1023.000000,1023.000000,1023.000000,1023.000000,1021.000000,1021.000000,1021.000000,1021.000000,1021.000000
mean,8977.717498,1.254154,1.896383,1.202346,3.440860,934.980167,868.670911,998.813908,1060.929481,811.506366
std,5310.021345,0.463881,0.806661,0.423288,1.125306,348.586313,621.091927,463.188441,567.424601,548.032407
min,28.000000,1.000000,1.000000,1.000000,1.000000,75.750000,2.000000,8.000000,11.000000,4.000000
25%,4223.500000,1.000000,1.000000,1.000000,3.000000,800.500000,359.000000,652.000000,630.000000,389.000000
50%,9125.000000,1.000000,2.000000,1.000000,3.000000,1008.500000,721.000000,1051.000000,964.000000,703.000000
75%,13595.000000,1.000000,2.000000,1.000000,4.000000,1151.000000,1479.000000,1347.000000,1527.000000,1198.000000
max,17992.000000,3.000000,4.000000,3.000000,9.000000,1879.250000,2189.000000,1995.000000,2292.000000,2197.000000

## Advanced Exercise (Time permitting)

Filter the dataset to only those that did not accept the offer.

In [23]:
data[data['Offer Accepted'] == 'No']

,Customer Number,Offer Accepted,Reward,Mailer Type,Income Level,# Bank Accounts Open,Overdraft Protection,Credit Rating,# Credit Cards Held,# Homes Owned,Household Size,Own Your Home,Average Balance,Q1 Balance,Q2 Balance,Q3 Balance,Q4 Balance
0,1,No,Air Miles,Letter,High,1,No,High,2,1,4,No,1160.75,1669.0,877.0,1095.0,1002.0
1,2,No,Air Miles,Letter,Medium,1,No,Medium,2,2,5,Yes,147.25,39.0,106.0,78.0,366.0
2,3,No,Air Miles,Postcard,High,2,No,Medium,2,1,2,Yes,276.50,367.0,352.0,145.0,242.0
3,4,No,Air Miles,Letter,Medium,2,No,High,1,1,4,No,1219.00,1578.0,1760.0,1119.0,419.0
4,5,No,Air Miles,Letter,Medium,1,No,Medium,2,1,6,Yes,1211.00,2140.0,1357.0,982.0,365.0
5,6,No,Air Miles,Letter,Medium,1,No,High,3,1,4,No,1114.75,1847.0,1365.0,750.0,497.0
6,7,No,Air Miles,Letter,Medium,1,No,Medium,2,1,3,No,283.75,468.0,188.0,347.0,132.0
7,8,No,Cash Back,Postcard,Low,1,No,Medium,4,1,4,Yes,278.50,132.0,391.0,285.0,306.0
8,9,No,Air Miles,Postcard,Medium,1,No,Low,2,1,4,Yes,1005.00,894.0,891.0,882.0,1353.0
9,10,No,Air Miles,Letter,High,2,No,Low,3,2,4,Yes,974.25,1814.0,1454.0,514.0,115.0
10,11,No,Air Miles,Postcard,Medium,1,No,Medium,3,1,2,Yes,1135.25,762.0,827.0,1454.0,1498.0
11,12,No,Cash Back,Postcard,High,1,No,Medium,3,2,5,Yes,1221.00,551.0,1652.0,896.0,1785.0
12,13,No,Points,Letter,Medium,1,No,Low,1,1,2,Yes,1150.50,1756.0,1402.0,969.0,475.0
13,14,No,Points,Letter,Low,1,No,High,1,1,3,No,1052.25,1996.0,1038.0,439.0,736.0
14,15,No,Air Miles,Letter,Low,2,No,High,3,1,3,Yes,1013.25,1819.0,901.0,854.0,479.0
15,16,No,Cash Back,Letter,High,1,No,Low,2,1,2,No,1012.25,1715.0,1486.0,713.0,135.0
16,17,No,Points,Postcard,Low,2,No,Medium,1,1,4,Yes,1217.00,567.0,1161.0,966.0,2174.0
17,18,No,Air Miles,Postcard,Low,2,No,High,2,1,4,Yes,1185.25,272.0,1523.0,2042.0,904.0
18,19,No,Points,Postcard,Medium,1,No,Low,1,1,4,No,1059.75,1876.0,1068.0,900.0,395.0
19,20,No,Cash Back,Letter,Medium,1,No,High,2,1,5,Yes,1086.75,764.0,997.0,921.0,1665.0
20,21,No,Points,Postcard,Low,1,No,High,2,1,4,Yes,1175.25,1234.0,1102.0,1423.0,942.0
21,22,No,Points,Letter,Medium,1,No,Low,2,2,3,Yes,811.75,720.0,407.0,1224.0,896.0
22,23,No,Cash Back,Letter,High,1,No,High,1,1,3,Yes,1754.00,1876.0,1717.0,1507.0,1916.0
23,24,No,Air Miles,Postcard,High,1,No,High,3,1,5,No,689.50,714.0,544.0,753.0,747.0
24,25,No,Cash Back,Letter,Low,1,No,Low,2,1,4,Yes,1018.25,1709.0,1087.0,732.0,545.0
25,26,No,Cash Back,Postcard,Medium,1,Yes,High,3,2,5,Yes,1130.25,1931.0,1097.0,921.0,572.0
26,27,No,Air Miles,Postcard,Low,2,No,Low,3,2,1,Yes,877.00,245.0,816.0,1174.0,1273.0
28,29,No,Cash Back,Postcard,Medium,1,Yes,Low,1,1,3,Yes,709.00,551.0,866.0,790.0,629.0
29,30,No,Points,Postcard,High,1,No,Medium,1,1,1,Yes,690.00,687.0,554.0,931.0,588.0
30,31,No,Points,Letter,Medium,1,No,High,2,1,3,No,863.25,1306.0,1083.0,632.0,432.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17967,17968,No,Points,Postcard,Low,1,No,High,2,2,3,Yes,1063.00,188.0,742.0,1134.0,2188.0
17968,17969,No,Points,Postcard,Low,2,No,High,3,1,3,Yes,1116.25,443.0,1218.0,1230.0,1574.0
17969,17970,No,Points,Postcard,Medium,1,No,Medium,2,1,2,No,1211.25,264.0,1338.0,1377.0,1866.0
17970,17971,No,Points,Letter,High,1,Yes,Low,1,1,3,Yes,1482.00,851.0,1550.0,2185.0,1342.0
17972,17973,No,Points,Postcard,Medium,1,No,Medium,2,1,2,Yes,679.25,526.0,661.0,611.0,919.0
17973,17974,No,Points,Postcard,Medium,1,No,Low,3,1,5,No,1162.50,630.0,1226.0,1858.0,936.0
17974,17975,No,Cash Back,Letter,Low,1,No,Low,1,1,3,No,853.50,420.0,1586.0,969.0,439.0
17975,17976,No,Cash Back,Letter,Low,1,No,Medium,3,1,3,Yes,874.75,46.0,1419.0,1594.0,440.0
17976,17977,No,Air Miles,Postcard,Low,1,No,Low,2,1,3,No,1121.25,1893.0,1406.0,839.0,347.0
17977,17978,No,Cash Back,Letter,Low,1,No,High,1,1,4,No,1020.00,1589.0,1252.0,755.0,484.0
17978,17979,No,Air Miles,Postcard,Medium,1,No,Medium,2,1,3,No,1082.75,1417.0,1436.0,1263.0,215.0
17979,17980,No,Air Miles,Letter,Medium,1,No,Low,2,1,5,Yes,1427.25,1441.0,1193.0,1269.0,1806.0
17980,17981,No,Air Miles,Postcard,Medium,1,No,High,1,1,5,Yes,1462.00,1429.0,1496.0,1428.0,1495.0
17981,17982,No,Cash Back,Letter,Low,2,Yes,Medium,2,1,2,Yes,1016.25,360.0,810.0,1537.0,1358.0
17982,17983,No,Points,Letter,Medium,1,No,Medium,3,1,5,Yes,1168.75,2197.0,1002.0,596.0,880.0
17983,17984,No,Cash Back,Letter,Medium,1,No,High,1,1,4,Yes,262.75,468.0,163.0,380.0,40.0
17985,17986,No,Points,Postcard,Medium,1,No,Medium,1,1,5,Yes,1022.75,1391.0,1660.0,647.0,393.0
17986,17987,No,Points,Letter,High,1,No,High,2,1,3,Yes,943.25,1583.0,1001.0,818.0,371.0
17987,17988,No,Points,Letter,High,1,No,Medium,1,1,5,Yes,943.00,1845.0,1015.0,684.0,228.0
17988,17989,No,Air Miles,Letter,Medium,1,Yes,Medium,1,1,2,Yes,911.00,639.0,1209.0,1271.0,525.0
17989,17990,No,Points,Letter,Medium,1,No,Low,3,1,4,Yes,1036.75,589.0,491.0,1786.0,1281.0
17990,17991,No,Air Miles,Letter,Medium,1,No,High,1,1,3,Yes,335.75,447.0,378.0,274.0,244.0
17992,17993,No,Cash Back,Postcard,Medium,1,No,Low,2,1,4,No,1243.00,943.0,743.0,1339.0,1947.0
17993,17994,No,Points,Letter,Low,1,No,Low,3,1,4,Yes,925.50,1570.0,1432.0,589.0,111.0
17994,17995,No,Air Miles,Postcard,Medium,1,No,Low,2,1,2,Yes,985.25,295.0,917.0,1608.0,1121.0
17995,17996,No,Cash Back,Letter,High,1,No,Low,1,1,5,Yes,167.50,136.0,65.0,71.0,398.0
17996,17997,No,Cash Back,Letter,High,1,No,Low,3,1,3,Yes,850.50,984.0,940.0,943.0,535.0
17997,17998,No,Cash Back,Letter,High,1,No,Low,2,1,4,No,1087.25,918.0,767.0,1170.0,1494.0
17998,17999,No,Cash Back,Letter,Medium,1,No,Medium,4,2,2,Yes,1022.25,626.0,983.0,865.0,1615.0
17999,18000,No,Cash Back,Letter,Low,2,No,Medium,2,1,3,No,1056.00,265.0,1378.0,1978.0,603.0

Given an individual is High Income, what is their average Q4 balance?

In [24]:
data[data['Income Level'] == 'High']['Q4 Balance'].mean()

814.7459614959062

Bonus: Given an individual holds more than 1 card, how many are in each Income Level?

In [25]:
data[data['# Credit Cards Held'] > 1]['Income Level'].value_counts()

Medium    5950
High      2979
Low       2917
Name: Income Level, dtype: int64

## Python for Machine Learning (Enrichment)

Can we predict factors that determine likelihood someone accepts our offer?

In [26]:
from sklearn import datasets, linear_model
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

In [27]:
# create X and Y -- select values for X and make Y be numeric
X = data[["# Bank Accounts Open", "Household Size", "# Credit Cards Held"]]
y = data['Offer Accepted'].map(dict(Yes=1, No=0))

In [28]:
# split into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [29]:
# Create logistic regression object
logreg = linear_model.LogisticRegression()

In [30]:
# Train the model using the training sets
logreg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [31]:
# Make predictions using the testing set
y_pred = logreg.predict(X_test)

In [32]:
# model accuracy
metrics.accuracy_score(y_test, y_pred)

0.9442222222222222

In [33]:
# Null accuracy
data["Offer Accepted"].value_counts()[0] / data.shape[0]

0.9431666666666667

In [34]:
# The coefficients
print('Coefficients: \n', logreg.coef_)

Coefficients:
 [[-0.01788858 -0.05497376  0.03474583]]

Try a random forest Classier.

In [35]:
# Create a random forest classifier object
rf = RandomForestClassifier()

In [36]:
# fit it to our data
rf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [37]:
# Make predictions using the testing set
y_pred = rf.predict(X_test)

In [38]:
# check accuracy
metrics.accuracy_score(y_test, y_pred)

0.9442222222222222

In [39]:
# remember null accuracy
data["Offer Accepted"].value_counts()[0] / data.shape[0]

0.9431666666666667